doctype html
html
	head
		title
			|About InfoPuppies
		
		link(href='public/style.css',rel='stylesheet')
		link(rel="shortcut icon" type="image/png" href="public/pug.png")
	body
		//#thisisanid.thisisaclass

		div.navbar.navbarabout
			a(href="/") 
				img.iconbackground(src="public/infopuppiesicon2.png")
			ul.liststuff 
				li
					p Welcome, User
				li
					div.dropdown
						button.dropbtn(onmouseover="myFunction()",onmouseout="myFunction()") About
						div#myDropdown.dropdown-content
							a(href="/about") What is InfoPuppies?

		- var disp = data==null ? "none" : "inline-block";
		- var disp2 = data!=null ? "none" : "inline-block";
		- data = data || {};
		div.nodog(style="display:#{disp2}")
			img.saddog(src="public/nodog.jpg")
			h1 Sorry no dog was found with this id...
		div.container.containerabout(style="display:#{disp}")
			img.blockchain(src="public/profiledog.png")
		div.textabout(style="display:#{disp}")
			
			div.tab
				button.tablinks(onclick="openTab(event, 'Profile')") Profile
				button.tablinks(onclick="openTab(event, 'Medical')") Medical History
				button.tablinks(onclick="openTab(event, 'Files')") Files
				button.tablinks(onclick="openTab(event, 'Owner')") Owner Information
			

			div#Profile.tabcontent
				h3 Profile
				div.block
					p ##{data.id}
					p Name: #{data.name}
					p Breed: #{data.breed}
					p Age: #{data.age}
					p Gender: #{data.gender}
					p Weight: #{data.weight}

			div#Medical.tabcontent
				h3 Medical History
				h2 Visit Records
				div.block
					p Deworming
					p Rabies vaccination
					p HomeAgain Microchip
					p Spay
				div.block#right
					p Humane Society Silicon Valley
					p Humane Society Silicon Valley
					p Humane Society Silicon Valley
					p Humane Society Silicon Valley
				h2 Vaccinations
				div.block
					p Canine Influenza Virus H3N8/H3N2 (CIV)
					p DA2PP
					p Bordetella
					p Deworming
					p Rabies
				div.block#right
					p Administered 4/8/18 
					p Administered 4/8/18 
					p Administered 4/8/18 
					p Administered 4/8/18 
					p Administered 4/8/18 


			div#Files.tabcontent
				h3 Files 

				//a(href="public/vaccinationrecord.jpg" download) vaccinationrecord.jpg
				div.buttonwrapper
					//button.button Upload a File
					//input(type="file" name="myfile" id="files" class="hidden")
					//label(for="files") Select file
				input(type="file")
				input(type="file")
				input(type="file")
				input(type="file")
				input(type="file")
				input(type="file")
				input(type="file")
			div#Owner.tabcontent
				h3 Owner: John Smith
				p  4/8//18 - Present
				p  History: Recieved Mocha on 4/8/18 as adult female

				h3 Owner: Jane Doe
				p  4/7/18 - 4/8/18
				p  History: Raised Mocha since she was a puppy. Adopted her from Humane Society Silicon Valley Animal Shelter

		


		script(src="public/tabs.js", type="text/javascript")